<form [formGroup]="searchForm!" class="form-signin text-center" (ngSubmit)="search()">
    <div class="row justify-content-center mb-3">
        <div class="col-md-auto mb-2">
            <input type="text" formControlName="searchKey" class="form-control" placeholder="ระบุคำค้นหา">
        </div>

        <div class="col-md-auto mb-2">
            <div class="btn-group">
                <button type="button" class="btn btn-{{btnStatus}}"><i class="fa {{icoStatus}}"></i> {{txtStatus}}</button>
                    <button type="button" class="btn btn-{{btnStatus}} dropdown-toggle" data-toggle="dropdown">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu topFilter" role="menu">
                        <a class="dropdown-item" (click)="statusFilter('สถานะทั้งหมด')"><i class="fa fa-filter text-primary"></i> สถานะทั้งหมด</a>
                        <a class="dropdown-item" (click)="statusFilter('ดำเนินการเสร็จ')"><i class="far fa-check-circle text-success"></i> ดำเนินการเสร็จ</a>
                        <a class="dropdown-item" (click)="statusFilter('รับไว้ดำเนินการ')"><i class="fas fa-briefcase text-warning"></i> รับไว้ดำเนินการ</a>
                        <a class="dropdown-item" (click)="statusFilter('อยู่ระหว่างดำเนินการ')"><i class="fas fa-comment-dots text-danger"></i> อยู่ระหว่างดำเนินการ</a>
                    </div>
            </div>
        </div>

        <div class="col-md-auto mb-2">
            <button type="submit" class="btn btn-info mr-2"><i class="fa fa-search"></i> ค้นหา</button>
            <button type="button" (click)="clear()" class="btn btn-warning"><i class="fas fa-sync-alt"></i> ล้างค่า</button>
        </div>
    </div>
</form>