<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0">
                        <i class="fa fa-home"></i> ระบบคำขอทั่วไปสำหรับผู้ตรวจสอบบัญชีกองทุนหมู่บ้าน
                    </h3>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><i class="fa fa-home"></i> หน้าหลัก</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
  
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
  
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h5 class="m-0 text-info"><i class="fa fa-home"></i> หน้าหลัก</h5>
                </div>
                <div class="card-body body-content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          <img src="../../../assets/Images/villagefund.png" alt="dsi" height="120"/>
                          <h1>ระบบคำขอทั่วไปสำหรับผู้ตรวจสอบบัญชีกองทุนหมู่บ้าน</h1>
                          <h2>Village Fund Auditor Registration</h2>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
        <!-- /.container-fluid -->
  
    </div>
    <!-- /.content -->
  </div>