<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0">
                        <i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน
                    </h3>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><i class="fa fa-user-cog"></i> ผู้ใช้งาน</li>
                        <li class="breadcrumb-item active"><i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <h5 class="m-0 text-info"><i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน</h5>
                        </div>
                        <div class="card-body body-content">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <form [formGroup]="changeForm" (ngSubmit)="changPassword()">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>รหัสผ่านเดิม</mat-label>
                                                    <input matInput formControlName="oldPassword" [type]="hide1 ? 'password' : 'text'" required />
                                                    <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    <mat-error *ngIf="changeForm.get('oldPassword')?.hasError('required')">
                                                        กรุณากรอกรหัสผ่านเดิม</mat-error>
                                                    <mat-error *ngIf="changeForm.get('oldPassword')?.hasError('minlength')">
                                                        กรุณากรอกรหัสผ่านเดิมอย่างน้อย 8 ตัวอักษร</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>รหัสผ่านใหม่</mat-label>
                                                    <input matInput formControlName="newPassword" [type]="hide2 ? 'password' : 'text'" required />
                                                    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    <mat-error *ngIf="changeForm.get('newPassword')?.hasError('required')">
                                                        กรุณากรอกรหัสผ่านใหม่</mat-error>
                                                    <mat-error *ngIf="changeForm.get('newPassword')?.hasError('minlength')">
                                                        กรุณากรอกรหัสผ่านใหม่อย่างน้อย 8 ตัวอักษร</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>ยืนยันรหัสผ่าน</mat-label>
                                                    <input matInput formControlName="confirmPassword" [type]="hide3 ? 'password' : 'text'" required />
                                                    <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    <mat-error *ngIf="changeForm.get('confirmPassword')?.hasError('required')">
                                                        กรุณากรอกยืนยันรหัสผ่าน</mat-error>
                                                    <mat-error *ngIf="changeForm.get('confirmPassword')?.hasError('minlength')">
                                                        กรุณากรอกยืนยันรหัสผ่านอย่างน้อย 8 ตัวอักษร</mat-error>
                                                    <mat-error *ngIf="changeForm.get('confirmPassword')?.hasError('missingPassword')">
                                                        กรุณากรอกยืนยันรหัสผ่านให้ตรงกับรหัสผ่านใหม่</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
        
                                        <div class="row justify-content-center mt-4">
                                            <div class="col-md-12 text-center">
                                                <button *ngIf="!isLoading" type="submit" class="btn btn-block btn-info"><i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน</button>
                                                <button *ngIf="isLoading" class="btn btn-info btn-block" type="button" disabled>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    กรุณารอสักครู่...
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
